<!DOCTYPE html>
<html>
<body>

{% for x in fruits %}
  <h1>{{ x }}</h1>
{% endfor %}

<h1>Hello {{ firstname }}, how are you?</h1>

{% with firstname="Tobias" %}
<h1>Hello {{ firstname }}, how are you?</h1>
{% endwith %}

<ul>
  {% for x in mymembers %}
    <li>{{ x.firstname }}</li>
  {% endfor %}
</ul>

{% if greeting == 1 %}
  <h1>Hello</h1>
{% else %}
  <h1>Bye</h1>
{% endif %}

{% if greeting == 1 %}
  <h1>Hello</h1>
{% elif greeting == 2 %}
  <h1>Welcome</h1>
{% else %}
  <h1>Goodbye</h1>
{% endif %} 

{% if greeting %}
  <h1>Hello</h1>
{% endif %} 

{% if greeting == 2 %}
  <h1>Hello</h1>
{% endif %} 

{% if greeting != 1 %}
  <h1>Hello</h1>
{% endif %} 

{% if greeting < 3 %}
  <h1>Hello</h1>
{% endif %} 

{% if greeting <= 3 %}
  <h1>Hello</h1>
{% endif %} 

{% if greeting > 1 %}
  <h1>Hello</h1>
{% endif %} 

{% if greeting >= 1 %}
  <h1>Hello</h1>
{% endif %} 

{% if greeting == 1 and day == "Friday" %}
  <h1>Hello Weekend!</h1>
{% endif %} 

{% if greeting == 1 or greeting == 5 %}
  <h1>Hello</h1>
{% endif %} 

{% if greeting == 1 and day == "Friday" or greeting == 5 %}

{% if (greeting == 1 and day == "Friday") or greeting == 5 %}

{% if 'Banana' in fruits %}
  <h1>Hello</h1>
{% else %}
  <h1>Goodbye</h1>
{% endif %} 

{% if 'Banana' not in fruits %}
  <h1>Hello</h1>
{% else %}
  <h1>Goodbye</h1>
{% endif %} 

{% if x is y %}
  <h1>YES</h1>
{% else %}
  <h1>NO</h1>
{% endif %}

{% if x == y %}
  <h1>YES</h1>
{% else %}
  <h1>NO</h1>
{% endif %}

{% with var1=x var2=x %}
  {% if var1 is var2 %}
    <h1>YES</h1>
  {% else %}
    <h1>NO</h1>
  {% endif %}
{% endwith %}

{% if x is not y %}
  <h1>YES</h1>
{% else %}
  <h1>NO</h1>
{% endif %} 

<p>In views.py you can see what the fruits variable looks like.</p>


</body>
</html>